<link rel="stylesheet" href="/stylesheets/boilerplate.css" />
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="d-flex flex-column flex-lg-row col-md-8 align-items-center">
      <div>
        <a class="navbar-brand" href="/">Travelio</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-flex flex-column flex-lg-row">
          <!-- <li class="nav-item mx-3">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li> -->
          <li class="nav-item mx-3">
            <a class="nav-link" href="/hotels">Hotels</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="/hotels/new">Add Hotel</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-nav ml-auto col-md-4 justify-content-lg-end">
      <% if(!currentUser) { %>
      <a class="nav-link chartreuse-link" href="/login">Login</a>
      <a class="nav-link chartreuse-link" href="/register">Register</a>
      <%} else {%>
      <a class="nav-link chartreuse-link" href="/logout">Logout</a>
      <%}%>
    </div>
  </div>
</nav>
