<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/boilerplate.ejs">

   <div class="row change-page white-card">
    <div class="mx-auto col-lg-6 offset-3">
      
    <h1 class="color-blue my-3">New Hotel</h1>
          <form action="/hotels" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input  class="form-control"  type="text" id="title" name="hotel[title]" required required></input>
        <div class="valid-feedback">
            Correctly completed
        </div>
          <div class="invalid-feedback">
            Incorrectly completed
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label"  for="location">Location</label>
        <input  class="form-control"  type="text" id="location" name="hotel[location]" required></input>
         <div class="valid-feedback">
            Correctly completed
        </div>
          <div class="invalid-feedback">
            Incorrectly completed
        </div>
      </div>
      
      <div class="mb-3 custom-file">
        <input class="form-control" type="file" id="image" name="image" multiple>
        <label for="formFileMultiple" class="form-label" for="image">
          <p class="form-file-text custom-file-label">Choose image(s)...</p>
        </label>
      </div>
      <div class="mb-3">  
      <label class="form-label" for="price">Hotel Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="price-label">$</span>
        </div>
        <input type="text" class="form-control" id="price" name="hotel[price]" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
         <div class="valid-feedback">
            Correctly completed
        </div>
          <div class="invalid-feedback">
            Incorrectly completed
        </div>
      </div>
      </div>
        <div class="mb-3">
        <label class="form-label"  for="description">Desription</label>
        <textarea  class="form-control"  type="text" id="description" name="hotel[description]" required></textarea>
         <div class="valid-feedback">
            Correctly completed
        </div>
        <div class="invalid-feedback">
          Incorrectly completed
        </div>
      </div>
      <div class="mb-3 d-flex justify-content-between align-items-center">
        <a href="/hotels">All hotels</a><button class="btn btn-success button button-blue" type="submit">Add Hotel</button></div>
    </form>
    </div>
   </div>
   <script src="/javascript/date.js"></script>

