.pagination {
  --bs-pagination-active-bg: var(--chartreuse);
  --bs-pagination-active-border-color: var(--chartreuse);
  --bs-pagination-disabled-bg: var(--woodSmoke);
  --bs-pagination-active-color: var(--woodSmoke);
  --bs-link-color: var(--white);
  --bs-link-hover-color: var(--limeade);
  --bs-pagination-focus-bg: var(--woodSmoke);
  --bs-pagination-hover-bg: var(--woodSmoke);
  --bs-pagination-hover-border-color: var(--limeade);
}

ul.pagination {
  max-width: 90%;
  flex-wrap: wrap;
  margin: 0 auto;
}
.page-link {
  background-color: var(--woodSmoke);
  border: none;
  margin: 2px;
}

.disabled {
  cursor: not-allowed;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin: 4px;
  transition: all 0.3 ease;
}

.circle:hover {
  border: 2px solid var(--limeade);
}

.page-link.hover-off:hover {
  background-color: var(--woodSmoke);
}
