.white-card {
  background-color: var(--white);
  border: 2px solid var(--cerulean);
  border-radius: 5px;
  margin-top: 1rem;
}

.carousel-item {
  height: 400px;
  height: 500px;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.border-blue {
  border: 2px solid var(--cerulean);
}

.max-width-400 {
  max-width: 600px;
}

b {
  color: var(--cerulean);
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.2rem;
}
.color-blue {
